body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 53, 92, 0.4);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}

/* .main-container nav{
    width: 40%;
    height: 244px;
} */

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 12px;
}

.question-footer button {
    border-radius: 32px;
    border: none;
}

.question-footer img {
    width: 24px;
    height: 32px;
    padding: 4px;
}

.quiz-card {
    width: 30rem;
    height: 386px;
    --bs-card-border-color: none;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}



.w100 {
    width: 100% !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.container-fluid,
.navbar-collapse {
    flex-direction: column;
    background-color: rgb(39, 53, 92) !important;
    height: 386px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar{
    padding: 0;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.container-fluid{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.container-fluid img {
    width: 112px;
    padding: 16px;
}

.bg-img {
    background-image: url(./img/brainbg.jpg);
    background-position: center;
    background-size: cover;
}

.nav-link {
    color: white;
}

.answer_choice:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-danger{
    color: white;
    background-color: rgb(249,24,24);
}
.bg-success {
    color: white;
    background-color: rgb(77,191,25);
}

.succeeded-answer-box{
    background-color: rgba(183,246,153, 0.2);

}

.failed-answer-box{
    background-color: rgba(255,163,164, 0.2);

}
/* .card-body {
    --bs-card-border-color: none;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
 */

.answer_choice{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.letterbox{
    /* padding: 6px 12px 6px 12px; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 8px;
    background-color: rgb(247,247,247);
    font-weight: 500;
}