body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
}

/* .main-container nav{
    width: 40%;
    height: 244px;
} */

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 12px;
}

.question-footer button {
    border-radius: 32px;
    border: none;
}

.question-footer img {
    width: 24px;
    height: 32px;
    padding: 4px;
}

.quiz-card {
    width: 30rem;
    height: 386px;
}



.w100 {
    width: 100% !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: column;
}

.container-fluid,
.navbar-collapse {
    flex-direction: column;
    background-color: rgb(39, 53, 92) !important;
    height: 386px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.container-fluid{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.container-fluid img {
    width: 112px;
    padding: 16px;
}

.bg-img {
    background-image: url(./img/brainbg.jpg);
    background-position: center;
    background-size: cover;
}

.nav-link {
    color: white;
}

.answer_choice:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-danger,
.bg-success {
    opacity: 0.7;
}

.card {
    --bs-card-border-color: none;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}